body{
    background-image:url("img/Spiral color.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: chartreuse;
    text-align: center;
}

p{
    color: aliceblue;
}

